.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider__content,
.slider__content__item {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider__content__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(5px);
  filter: brightness(60%); */

}

.slider__content__item::before {
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
right: 0;
 /* background: linear-gradient(rgba(255, 255, 255, 0),#080f29); */
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #080f29),
 linear-gradient(to bottom, #080f29, rgba(255, 255, 255, 0));

z-index: 1000;
}



.slider__content__descripction {
  position: absolute;
  width: 80%;
  height: 250px;
  bottom: 10rem;
  left: 5rem;
z-index: 1005;


}

.slider__description__name{

  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  color: antiquewhite;
  margin: 0;
z-index: 1005;

}


.slider__content_genres__platforms{
	display: flex;
	align-items: center;
	gap: 25px;
	margin-bottom: 20px;
	font-size: 12px;
    line-height: normal;
    font-weight: 400;
}





.slider__content_rating__released{
	display: flex;
	gap: 30px;
}

.slider__description__rating {

	text-align: left;


	color: #eeaf0a;
  }

  .slider__description__released{
	color: #fff;
	
	
  }






  .slider__content_genres{
	display: flex;
	gap: 10px;
	padding: 0;
	border-radius: 2px;
	font-size: 12px;
    line-height: normal;
    font-weight: 400;
    padding: 2px 7.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    border-radius: 4px;
    background-color: #fff;

  }


  .slider__description__genre__name{
	padding: 0;
	margin: 0;

  }



  .slider__content_platforms{
	display: flex;
	gap: 20px;
	color: #fff;
	font-weight: bold;
  }

.container__slider__btn{
	background-color: #3e87fc91;
font-size: 20px;
	color: #fff;
	border: 0;
    cursor: pointer;
    padding: .5rem 2rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 2rem;
    width: auto;
    border-radius: 1rem;
	
}
 

/************************************************************************************************/

.container__search__filters{
	padding: 1rem;
	/* background-color: tan; */
}

.container__input__search{
	/* background-color: green; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	
}

.container__input__search img{
	margin-right: 6rem;
}

.container__input__search button{
	width: 3rem;
	border-radius: 100000000px;
	cursor: pointer;
background-color: #00000000;
border: none;
}

.container__input__search button img{
	margin: 0;
	padding: 0;
}

.input__search{
	outline: none;
	width: 65%;
    height: 28px;
    border-radius: 16px;
	font-size: 14px;
    line-height: normal;
	padding: 20px 12px 20px 38px;
    font-weight: 400;
    line-height: 14px;
    color: hsla(0, 0%, 100%, 0.931);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIG9wYWNpdHk9Jy40JyB3aWR0aD0nMzEnIGhlaWdodD0nMzEnIHZpZXdCb3g9JzAgMCAxNCAxNCc+PHBhdGggZmlsbD0nI0ZGRicgZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNOS4yMDIgMy4wMjZhNC4zNjcgNC4zNjcgMCAxMC02LjE3NiA2LjE3NiA0LjM2NyA0LjM2NyAwIDEwNi4xNzYtNi4xNzZtNC41NDMgMTAuNzE5YS44NzUuODc1IDAgMDEtMS4yMzYgMGwtMi43NTEtMi43NTJjLTIuMzk1IDEuNzktNS43OTEgMS42MjEtNy45NjctLjU1NWE2LjExMyA2LjExMyAwIDAxMC04LjY0NyA2LjExMyA2LjExMyAwIDAxOC42NDcgMGMyLjE3NiAyLjE3NiAyLjM0NiA1LjU3Mi41NTUgNy45NjdsMi43NTIgMi43NTFjLjM0LjM0MS4zNC44OTQgMCAxLjIzNicvPjwvc3ZnPg==) no-repeat scroll 16px;
    background-size: 14px;
    background-color: hsla(0,0%,100%,.16);
    border: none;
	transition: color .3s,background-color .3s,opacity .3s,width .05s linear;
	
	

}

.input__search:hover{
	background-color: #ffffff55;
	color: #ffffff;
}




.container__search__filters h1{
color: #fff;
font-size: 72px;
line-height: 74px;
font-weight: 700;
text-align: center;
width: 45rem;
margin: 0px;

}

.container__search__filters h4{
width: 20rem;
	color: #fff;
	font-size: 16px;
margin-left:3.7rem;
}